#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: blueviolet;
  font-family: fantasy;
}
h1 {
  color: white;
  font-size: 6rem !important;
  background-color: rgba(96, 20, 238, 0.507);
  border-radius: 2rem;
  padding: 1rem;
}
p {
  color: white;
  font-size: xx-large;
  background-color: rgba(20, 205, 238, 0.61);
  border-radius: 2rem;
  padding: 1rem;
  font-weight: bold;
}
.buttons button {
  margin: 1.5rem;
  font-weight: bolder;
  width: 4rem;
  height: 4rem;
}
button:hover {
  background-color: rgba(8, 65, 255, 0.596);
  color: white;
  border: 0.2rem outset;
}
span {
  font-size: 2rem;
  font-weight: bolder;
}
