<footer>
  <div class="container">
    <p>&copy; 2024 Kathrin Peled - Mein erstes Portfolio</p>
    <div class="logo">
      <img src="../Icons/Draculady-logo.webp" alt="Draculady code logo" />
    </div>
  </div>
</footer>
<!-- ! Change according to pages-->
<script src="../Scripts/toggle-german.js"></script>
<script src="../Scripts/portfolio-sortment.js"></script>
<script src="../Scripts/script.js"></script>

<!-- Async or defer for external scripts -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-PCYQWXDRBG"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-PCYQWXDRBG");
</script>
