body {
  margin: 0;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: var(--background-gradient);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
