* { margin: 0; }

.lit, .dark {
  height: 100vh;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.lit {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
}