* {
  box-sizing:border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  /* Kind of like a Moiré pattern */
  background: repeating-radial-gradient(#fef 1px, #fcf 2px);
  font-family: system-ui, sans-serif;
}

main {
  width: 360px;
  padding: 1em;
  background: #fff;
}

h1 {
  text-align: center;
}
