@import "./variables";
//animations mixins scss
@mixin gradient {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@mixin revealLetters {
  @keyframes revealLetters {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin rotate {
  @keyframes rotate {
    0% {
      transform: perspective(100rem) rotateY(0deg);
    }
    100% {
      transform: perspective(100rem) rotateY(360deg);
    }
  }
}
@mixin pulsate {
  @keyframes pulsate {
    0% {
      border-color: #d4a3e769;
      box-shadow: 0.3rem 0rem 0.3rem 0.3rem rgb(255, 255, 255);
    }
    50% {
      border-color: #a009f779;
      box-shadow: 0.3rem 0rem 0.3rem 0.3rem rgb(145, 141, 141);
    }
    100% {
      border-color: #ff00ff65;
      box-shadow: 0.3rem 0rem 0.3rem 0.3rem rgb(65, 60, 60);
    }
  }
}
@mixin textColorChanging {
  @keyframes textColorChanging {
    0% {
      color: rgb(238, 96, 219);
    }
    16.67% {
      color: rgb(250, 99, 250);
    }
    33.33% {
      color: rgb(107, 9, 235);
    }
    50% {
      color: rgb(11, 3, 250);
    }
    66.67% {
      color: rgb(28, 110, 241);
    }
    83.33% {
      color: rgb(0, 132, 255);
    }
    100% {
      color: rgb(237, 10, 214);
    }
  }
}
@mixin colorWaveAnimation {
  @keyframes colorWaveAnimation {
    0% {
      border-color: rgb(238, 96, 219);
    }
    16.67% {
      border-color: rgb(191, 0, 255);
    }
    33.33% {
      border-color: rgb(126, 0, 245);
    }
    50% {
      border-color: rgb(96, 174, 238);
    }
    66.67% {
      border-color: rgb(154, 41, 240);
    }
    83.33% {
      border-color: rgb(63, 136, 253);
    }
    100% {
      border-color: rgb(212, 0, 255);
    }
  }
}

@keyframes dropdown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 20rem;
    opacity: 1;
  }
}
