@import "./variables";
@import "./mixins";
@include colorWaveAnimation;
// Contact scss
/* Settings and design for all contact options */
.contact-options-divs {
  @include displaySet(
    $dspl: flex,
    $jusCont: center,
    $alItms: center,
    $gap: 3rem,
    $flxDrc: column
  );
  padding: 1rem;
  border-radius: 3rem;
  .contact-form,
  .contact-directly {
    @include displaySet($dspl: inline-block, $position: static, $zIndx: 900);
    @include sizesNgaps(
      $padding: 1.5rem,
      $margin: 0 1rem,
      $max-width: 40rem,
      $min-height: 15rem
    );
    @include fontNtext(
      $font-size: x-large,
      $bgColor: #f2d7ffab,
      $lnHeight: 3rem,
      $border: 0.1rem solid rgba(177, 177, 177, 0.548),
      $borderRds: 3rem,
      $boxShdw: $mainShadow
    );
    a {
      color: #000000;
      border-radius: 50%;
    }
    a:hover {
      @include fontNtext(
        $font-weight: bolder,
        $txtShdw: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223)
      );
    }
    i {
      @include fontNtext($font-size: x-large, $color: $primaryColor);
      border-radius: 50%;
      padding: 1rem;
      border: $primaryColor outset 0.4rem;
    }
    i:hover {
      transform: scale(1.2);
      border: $primaryColor inset 0.4rem;
    }
    &:hover {
      @include fontNtext(
        $txtShdw: 0.1rem 0.2rem 0.4rem rgb(249, 249, 253),
        $boxShdw: $boxShadow
      );
    }
  }
  .contact-options-list {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  /* Settings and design of the contact form */
  .form {
    margin: 1rem 0 0 0;
    font-size: x-large;
    @include displaySet(
      $dspl: flex,
      $jusCont: center,
      $alItms: center,
      $flxDrc: column
    );
    label,
    input,
    textarea {
      @include displaySet($dspl: flex, $width: 100%);
      margin: -2rem 0;
    }
    input {
      @include sizesNgaps($padding: 0.5rem, $margin: 0, $height: 3rem);
      @include fontNtext(
        $borderRds: 1rem,
        $font-size: 1.2rem,
        $boxShdw: $mainShadow
      );
    }
    textarea {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 0,
        $width: 32rem,
        $height: 10rem
      );
      border-radius: 1rem;
      resize: none;
      font-size: 1.2rem;
      box-shadow: $mainShadow;
    }
    input:hover,
    textarea:hover {
      border-width: 0.5rem;
      animation: colorWaveAnimation 6s infinite;
      box-shadow: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223);
    }
  }
  // Contact direct Social Media
  .contact-directly {
    display: flex;
    // flex-direction: row;
    li {
      width: 15%;
      border-radius: 50%;
      margin: 0.5rem;
      padding: 0.5rem;
      i {
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        padding: 0.5rem;
      }
      a {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
  /* Media query for tablets and smaller desktops */
  @media screen and (max-width: 1450px) {
    @include displaySet(
      $jusCont: center,
      $alItms: center,
      $flxDrc: column,
      $gap: 2rem
    );
    .my-files {
      @include sizesNgaps($max-width: 30rem, $min-height: 10rem);
      @include fontNtext($font-size: x-large);
    }
    .form {
      input,
      textarea {
        @include sizesNgaps($width: 28rem);
      }
    }
  }
  /* Media query for tablets and larger smartphones */
  @media screen and (max-width: 768px) {
    @include displaySet($flxDrc: column, $gap: 1rem);
    .contact-form,
    .my-files {
      @include sizesNgaps(
        $padding: 1rem,
        $margin: 1.5rem 0.5rem,
        $width: 26rem
      );
    }
    .contact-directly {
      li {
        margin: 0.5rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .form {
      input,
      textarea {
        @include sizesNgaps($width: 22rem);
      }
    }
  }
  /* Media query for mobile phones */
  @media screen and (max-width: 480px) {
    @include displaySet($flxDrc: column, $gap: 1rem);
    .contact-form,
    .my-files {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 1.5rem 0.5rem,
        $max-width: 25rem
      );
    }
    .contact-directly {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .contact-options {
        display: flex;
      }
      li {
        margin: 0.5rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      a {
        padding: 0 2rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .form {
      input,
      textarea {
        @include sizesNgaps($width: 20rem);
      }
    }
  }
}
