@import "./variables";
// Header part
.backupH1Title {
  display: none;
}
/* header designs and settings */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  color: $mainTextColor;
  background-color: $primaryColor;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1.25rem 0;
  border-bottom: transparent;
  background-size: 600% auto;
  box-shadow: $mainShadow;
  .icon-top-draculady {
    display: none;
    padding: 0;
    width: 35%;
    height: auto;
    margin: 2% 35%;
    position: relative;
    z-index: 500;
    border-radius: 50%;
    background-color: $icon-bg;
    box-shadow: $icon-glowing-shadow;
    img {
      width: 100%;
    }
    &:hover {
      transition: 2s;
      transform: scale(1.05);
    }
  }
  .icon-draculady {
    display: block;
    padding: 0;
    width: 25%;
    height: auto;
    margin: 2% 35%;
    position: relative;
    z-index: 100;
    border-radius: 50%;
    background-color: $icon-bg;
    box-shadow: $icon-glowing-shadow;
    img {
      width: 100%;
    }
    &:hover {
      transition: 2s;
      transform: scale(1.05);
    }
  }
  h1 {
    text-shadow: $h1Shadow;
    font-family: "poetsen One";
    font-size: 6rem;
    letter-spacing: 0.3rem;
    margin: 3% 0;
    z-index: 999;
    position: relative;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 500;
  font-size: xx-large;
  margin-top: 1rem;
  li {
    display: inline;
    position: relative;
    z-index: 500;
    margin: 0 3rem;
    text-shadow: $navShadow;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    a {
      color: $mainTextColor;
      text-decoration: none;
      border-radius: 2rem;
      padding: 0.5rem;
      position: relative;
      z-index: 500;
      &:hover {
        font-weight: bolder;
      }
    }
  }
}
.dropdown-portfolio {
  display: none;
  position: absolute;
  z-index: 1000 !important;
  top: 75%;
  left: 50%;
  min-width: 25rem;
  background-color: #b48ee5b7;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  transform: translateX(-50%);
  li {
    display: block;
    position: relative;
    z-index: 1000;
    padding: 0.6rem 0.4rem;
    font-size: 2rem;
    a {
      color: $mainTextColor;
      padding: 0 0.5rem;
      position: relative;
      z-index: 1000;
    }
    &:hover {
      position: relative;
      z-index: 1000;
    }
  }
}
.dropdown:hover .dropdown-portfolio {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: dropdown 1s ease-out forwards;
  position: absolute;
  z-index: 1000;
}
//Footer part
/* Settings for the Footer of the pages */
footer {
  padding: 1.5rem 0;
  margin: 2rem 0 0 0;
  width: 100%;
  bottom: 0;
  font-size: x-large;
  color: $mainTextColor;
  background-color: $primaryColor;
  letter-spacing: 0.18rem;
  box-shadow: $mainShadow;
  text-align: center;
  border-top: 0.3rem solid rgb(236, 196, 247);
  &:hover {
    border-top: 0.3rem outset rgb(70, 0, 102);
    .logo {
      display: block;
      box-shadow: $icon-glowing-shadow;
    }
  }
  p {
    &::before,
    &::after {
      content: "\f5fc";
      font-family: "FontAwesome";
      position: relative;
      padding: 0 15rem;
    }
  }
  .logo {
    display: none;
    margin: 1.5% 30%;
    padding: 0.5rem;
    width: 40%;
    box-shadow: $mainShadow;
    border-radius: 10%;
    background-color: $icon-bg;
    img {
      width: 100%;
    }
  }
}
// Responsivness
@media screen and (max-width: 1800px) {
  footer p::before,
  footer p::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .icon-draculady {
    display: none !important;
  }
  .icon-top-draculady {
    display: block !important;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
    li {
      display: block;
      margin: 1rem 0;
    }
  }
  .dropdown:hover .dropdown-portfolio {
    position: relative;
    z-index: 1000;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  h1 {
    transform: scale(0.7);
  }
  header,
  footer {
    width: 150%;
  }
}
