@import "./variables";
@import "./mixins";
@import "./animations";
/* Settings and design of the main picture */
.profile-picture {
  @include displaySet($dspl: flex, $jusCont: center);
  img {
    @include sizesNgaps($margin: 4rem 1rem 1rem, $width: 30rem, $height: 30rem);
    @include displaySet($position: static, $zIndx: 900);
    border-radius: 50%;
    border: 0.5rem solid $primaryColor;
    animation: colorWaveAnimation 6s infinite;
    box-shadow: $imgShadow;
  }
  &:hover {
    transform: scale(1.2);
    transition: 2s;
  }
}
/* Settings and design of the images inside the about me paragraph */
.paragraph-div img {
  /* Settings of images inside the div paragraph, p_img_1 and p_img_2 */
  @include displaySet($position: relative, $zIndx: 900);
  border-radius: 4rem;
  margin: 2rem 1rem 0 2rem;
  border: 0.5rem outset;
  box-shadow: $imgShadow;
  &:hover {
    width: 30rem;
    border-color: $primaryColor;
    transition: 2s;
  }
}
.p_img_1 img {
  @include sizesNgaps($width: 20rem, $height: 20rem);
  border-color: rgb(219, 105, 230);
  z-index: 3;
  &:hover {
    height: 30rem;
  }
}
.p_img_2 img {
  @include sizesNgaps($width: 22rem, $height: auto);
  border-color: rgb(166, 105, 223);
  &:hover {
    transform: scale(1.02);
  }
}
// Responsivness
@media screen and (max-width: 1800px) {
  .paragraph-div img {
    display: none;
  }
  .profile-picture img {
    @include sizesNgaps($max-width: 20rem, $max-height: 20rem);
  }
}
