@import "./variables";
// Mixins scss
@mixin displaySet(
  $padding: null,
  $margin: null,
  $width: null,
  $max-width: null,
  $height: null,
  $max-height: null,
  $top: null,
  $left: null,
  $right: null,
  $bottom: null,
  $min-width: null,
  $min-height: null,
  $zIndx: null,
  $dspl: null,
  $position: null,
  $flxDrc: null,
  $jusCont: null,
  $alItms: null,
  $txtAln: null,
  $flxWrp: null,
  $transform: null,
  $gap: null
) {
  @if $padding != null {
    padding: $padding;
  }
  @if $margin != null {
    margin: $margin;
  }
  @if $width != null {
    width: $width;
  }
  @if $max-width != null {
    max-width: $max-width;
  }
  @if $height != null {
    height: $height;
  }
  @if $max-height != null {
    max-height: $max-height;
  }
  @if $top != null {
    top: $top;
  }
  @if $left != null {
    left: $left;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $min-width != null {
    min-width: $min-width;
  }
  @if $min-height != null {
    min-height: $min-height;
  }
  @if $zIndx != null {
    z-index: $zIndx;
  }
  @if $dspl != null {
    display: $dspl;
  }
  @if $position != null {
    position: $position;
  }
  @if $flxDrc != null {
    flex-direction: $flxDrc;
  }
  @if $jusCont != null {
    justify-content: $jusCont;
  }
  @if $alItms != null {
    align-items: $alItms;
  }
  @if $txtAln != null {
    text-align: $txtAln;
  }
  @if $flxWrp != null {
    flex-wrap: $flxWrp;
  }
  @if $transform != null {
    transform: $transform;
  }
  @if $gap != null {
    gap: $gap;
  }
}
//@include displaySet($dspl: null, $flxDrc: null, $jusCont: null, $alItms: null, $txtAln: null, $position: null, $flxWrp: null, $zIndx: null, $dspl: null, $position: null, $flxDrc: null, $jusCont: null, $alItms: null, $txtAln: null $flxWrp: null, $transform: null);

@mixin sizesNgaps(
  $padding: null,
  $margin: null,
  $width: null,
  $max-width: null,
  $height: null,
  $max-height: null,
  $top: null,
  $left: null,
  $right: null,
  $bottom: null,
  $min-width: null,
  $min-height: null,
  $zIndx: null
) {
  @if $padding != null {
    padding: $padding;
  }
  @if $margin != null {
    margin: $margin;
  }
  @if $width != null {
    width: $width;
  }
  @if $max-width != null {
    max-width: $max-width;
  }
  @if $height != null {
    height: $height;
  }
  @if $max-height != null {
    max-height: $max-height;
  }
  @if $top != null {
    top: $top;
  }
  @if $left != null {
    left: $left;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $min-width != null {
    min-width: $min-width;
  }
  @if $min-height != null {
    min-height: $min-height;
  }
}

//   @include sizesNgaps($padding: null, $margin: null, $width: null, $max-width: null, $height: null, $max-height: null, $top: null, $left: null, $right: null, $bottom: null, $min-width: null, $min-height: null);

@mixin fontNtext(
  $font-size: null,
  $font-weight: null,
  $color: null,
  $bgColor: null,
  $bgImage: null,
  $ltrSpc: null,
  $lnHeight: null,
  $fontFmly: null,
  $txtShdw: null,
  $border: null,
  $borderRds: null,
  $boxShdw: null
) {
  @if $font-size != null {
    font-size: $font-size;
  }
  @if $font-weight != null {
    font-weight: $font-weight;
  }
  @if $color != null {
    color: $color;
  }
  @if $bgColor != null {
    background-color: $bgColor;
  }
  @if $bgImage != null {
    background-image: $bgImage;
  }
  @if $ltrSpc != null {
    letter-spacing: $ltrSpc;
  }
  @if $lnHeight != null {
    line-height: $lnHeight;
  }
  @if $fontFmly != null {
    font-family: $fontFmly;
  }
  @if $txtShdw != null {
    text-shadow: $txtShdw;
  }
  @if $border != null {
    border: $border;
  }
  @if $borderRds != null {
    border-radius: $borderRds;
  }
  @if $boxShdw != null {
    box-shadow: $boxShdw;
  }
}

// @include fontNtext($font-size: null, $font-weight: null, $color: null, $bgColor: null, $bgImage: null, $ltrSpc: null, $lnHeight: null, $fontFmly: null,  $txtShdw: null, $border: null, $borderRds:null, $boxShdw: null);

@mixin borderBottomRds($bbLeftRds: null, $bbRightRds: null) {
  @if $bbLeftRds != null {
    border-bottom-left-radius: $bbLeftRds;
  }
  @if $bbRightRds != null {
    border-bottom-right-radius: $bbRightRds;
  }
}

// @include borderBottom($bbLeftRds: null, $bbRightRds: null);
