@import "./variables";
// portfolio Items scss
/* Settings and design for all portfolio items in the website */
.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 1.5rem 0 0 0;
  .portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 0 2rem 0;
    width: calc(33.33% - 1.25rem);
    max-width: 35rem;
    min-width: 20rem;
    min-height: 19rem;
    background-color: #c6acf0;
    border: 0.4rem outset $primaryColor;
    border-radius: 5.5rem;
    box-shadow: $mainShadow;
    backdrop-filter: blur(5px);
    transition: transform 1s;
    &:hover {
      background-color: #a0eb8285;
      background-image: $portfolioBg;
      border: transparent;
      box-shadow: $mainShadow;
      transform: scale(1.05);
      z-index: 1000;
      p {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
      .portfolio-item-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
      }
    }
    p {
      margin-bottom: 1.5rem;
      font-size: x-large;
      display: none;
    }
    a {
      display: flex;
      justify-content: center;
    }
    .portfolio-item-icons {
      justify-content: center;
      margin-top: auto;
      bottom: 2rem;
      i {
        font-size: 1.5rem;
        color: $hoverTitle;
        margin: 0.7rem 0.5rem 0 0.5rem;
      }
    }
    .portfolio-item-image {
      padding: 0;
      margin: 0 0 1rem 0;
      width: 100%;
      max-width: 100%;
      height: auto;
      img {
        padding: 0;
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }
  }
}
.items-2 {
  .portfolio-item {
    background-color: #73d0fc;
    transition: background-color 0.3s ease;
    &:hover {
      background-image: $portfolioBg2 !important;
      transition: 1s;
    }
    h5,
    p,
    img,
    i {
      background-color: transparent;
    }
  }
}

// Show all part
.show-first {
  display: flex;
}
.show-all {
  margin-top: -1rem;
  display: none;
  &:target {
    display: flex;
  }
}
// Settings for elements table in order to sort projects by elements
.elements-table tr td i {
  cursor: pointer;
}
// Responsiveness
@media (max-width: 1026px) {
  .portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1rem 0;
    .portfolio-item {
      width: 80%;
      margin: 1rem 0;
    }
  }
}
@media (min-width: 650px) and (max-width: 1025px) {
  .portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    .portfolio-item {
      width: 100%;
    }
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  .portfolio-item {
    padding: 0.5rem;
    margin: 1rem;
    max-width: 80%;
    a {
      padding: 0.5rem;
    }
  }
}
