@import "./variables";
@include colorWaveAnimation;
/* Settings fot the smiley and "hire me" boxes */
.hire-me {
  margin: 1.5rem;
  top: 8rem;
  right: 1rem;
  position: fixed;
  z-index: 0;
  transform: translateY(-50%);
  &:hover {
    z-index: 1000;
    .face {
      box-shadow: $mainShadow;
      border: 1rem;
      &::before {
        width: 3.5rem;
        height: 2rem;
        top: 6rem;
        left: 3rem;
        background-color: $smilyLips;
        border: $smilyLips 0.5rem solid;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
      }
      .eye {
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem $mainTextColor;
      }
    }
  }
  .hire-me-textbox {
    display: inherit;
    position: absolute;
    padding: 1rem;
    max-width: 8rem;
    right: 10rem;
    top: -3rem;
    z-index: 0;
    font-size: larger;
    font-weight: bold;
    color: $mainTextColor;
    background-color: $primaryColor;
    border-radius: 2rem;
    box-shadow: $mainShadow;

    &:hover {
      border: 0.1rem solid gray;
      box-shadow: 0rem 0rem 1rem 1rem #a4e9f5;
    }
  }
  .face {
    display: flex;
    position: relative;
    margin: 0 0 0 5rem;
    width: 10rem;
    height: 10rem;
    border: 0.8rem solid $form-BG;
    border-radius: 50%;
    background-color: #ffd105d7;
    box-shadow: $mainShadow;
    &:hover {
      box-shadow: $mainShadow;
      border: 1rem;
    }
    &::before {
      content: "";
      width: 3rem;
      height: 0.6rem;
      top: 5.5rem;
      left: 2.5rem;
      background-color: $smilyLips;
      border: 0.4rem solid $smilyLips;
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem;
      position: absolute;
      transition: 0.5s;
    }
    &:hover::before {
      width: 4rem;
      height: 2rem;
      top: 6.5rem;
      left: 2.5rem;
    }
    &:hover .eye {
      box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem $mainTextColor;
    }
    .eyes {
      display: flex;
      position: relative;
      top: 1.5rem;
      left: 2rem;
      .eye {
        display: block;
        position: relative;
        background-color: $mainTextColor;
        margin: 0 0.25rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        &::before {
          content: "";
          width: 0.75rem;
          height: 0.75rem;
          top: 50%;
          left: 1rem;
          background-color: #000000;
          border-radius: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
/* Adjust the location and activity of the button "change language" */
.languages {
  padding: 0.8rem;
  top: 70%;
  right: 1.5rem;
  position: fixed;
  z-index: 0;
  transform: translateY(-50%);
  font-size: 6rem;
  border: $primaryColor 0.3rem solid;
  border-radius: 50%;
  animation: colorWaveAnimation 6s infinite;
  img {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    display: block;
    box-shadow: $mainShadow;
    border-radius: 50%;
  }
  &:hover {
    z-index: 1000;
    border: 0.3rem $primaryColor inset;
    animation: none;
    background-color: $form-BG;
  }
}

/* Settings and design for Back to top button */
.backtotop {
  padding: 0.5rem;
  max-width: 10rem;
  top: 90%;
  right: 1.5rem;
  position: fixed;
  z-index: 0;
  transform: translateY(-50%);
  border: $primaryColor 0.3rem solid;
  border-radius: 50%;
  color: $primaryColor;
  font-size: 2.5rem;
  animation: colorWaveAnimation 6s infinite;
  text-shadow: $title-span-shadow;
  &:hover {
    box-shadow: $mainShadow;
    border: 0.3rem $primaryColor outset;
    z-index: 1000;
    animation: none;
    background-color: $form-BG;
  }
  i {
    color: $primaryColor;
  }
}
/* Targeting the ShareThis button classes */
.sticky-share-buttons .st-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sticky-share-buttons .st-btn:hover {
  background-color: $primaryColor;
  color: white;
}
// Responsivness
@media screen and (max-width: 1000px) {
  .languages {
    p {
      display: none;
    }
    img {
      margin: 0 auto;
      width: 2rem;
      height: 2rem;
      display: block;
      &:hover {
        width: 3rem;
        height: 3rem;
      }
    }
  }
  .backtotop a {
    text-transform: capitalize;
    .back-to {
      display: none;
    }
  }
  .hire-me {
    transform: translateY(-50%) scale(0.7);
    margin: 1rem;
    top: 6rem;
    right: 0.2rem;
  }
}
