@import "./variables";

.download-files {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-files {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    width: 15rem;
    margin: 1rem 1.5rem;
    border: $primaryColor 0.5rem outset;
    border-radius: 2rem;
  }
  .file-item {
    box-shadow: $mainShadow;
    border-radius: 4rem;
    margin: 1.5rem 0.5rem;
    width: 25rem;
    border: 0.5rem $paragraph-BG solid;
    z-index: 1000;
  }
  .file-item:hover {
    border: 0.2rem $primaryColor solid;
  }
  .button-div {
    pointer-events: auto;
  }
  button a {
    align-items: center;
    justify-content: center;
  }
  .file-title {
    margin: 1rem 0;
    font-size: 2rem;
  }
}

// Responsiveness
@media screen and (max-width: 1000px) {
  .all-files {
    flex-direction: column;
    .file-item {
      margin: 2rem 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .all-files {
    flex-direction: column;
  }
}
