@import "./variables";
/* Settings and design of the skills table - portfolio page */
.skills-table {
  table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    td {
      padding: 1rem;
      width: 7rem;
      border: 0.1rem solid #ffffff00;
      border-radius: 50%;
      text-align: center;
      text-shadow: $title-span-shadow;
      background-color: $paragraph-BG;
      box-shadow: $mainShadow;
      &:hover {
        box-shadow: $mainShadow;
        text-shadow: $title-span-shadow;
        font-weight: bold;
        transition: 1s;
        border-radius: 50%;
        background-color: $paragraph-BG;
        i {
          text-shadow: $titlesShadow;
          color: #ffffff;
        }
      }
    }
    i {
      padding: 1rem;
      width: 6rem;
      font-size: 3rem;
      color: $primaryColor;
      background-color: rgba(#ffffff, 0.54);
      border-radius: 50%;
    }
  }
}
// Responsivness

@media screen and (max-width: 1400px) {
  .toolbox {
    display: none;
  }
}
