@import "./variables";

#my-timeline-resume {
  text-shadow: $titlesShadow;
}
// * Continue working on this part
.container-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  ul li {
    cursor: pointer;
  }
}
.container-timeline {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  text-align: left;
  border-radius: 3rem;
  box-shadow: $mainShadow;
  border: $form-BG 0.2rem outset;
}
.container-timeline:hover {
  border-right: $primaryColor 0.2rem outset;
  border-bottom: $primaryColor 0.2rem outset;
  border-left: $smilyLips 0.2rem outset;
  border-top: $smilyLips 0.2rem outset;
}
.container-timeline ul li {
  width: 50%;
  height: auto;
  padding: 1.5rem 1rem;
  margin: 7rem 0.7rem;
  background-color: $paragraph-BG;
  border-radius: 2rem;
  box-shadow: 1px 1px 25px #0000005c;
  z-index: 99;
  position: relative;
}
.titles-wrapper {
  margin: 0.7rem 0.5rem;
}
.timeline-work-experience-container,
.timeline-education-container {
  border-left: 0.5rem outset $primaryColor;
  margin: 0 3rem;
  width: 60%;
  ul li {
    width: 100%;
    border-left: 0.5rem outset $primaryColor;
    border-right: 0.5rem outset $primaryColor;
    margin-left: -0.5rem;
  }
}
// .timeline-education-container {
//   border: 0.5rem black solid;
// }
.container-timeline ul li h4 {
  font-size: 1.4rem;
  color: $primaryColor;
}
.container-timeline ul li:hover {
  box-shadow: $mainShadow;
}
.container-timeline ul li:hover .circle {
  box-shadow: $icon-glowing-shadow;
}
.container-timeline ul li h3 {
  font-size: 2rem;
}
.container-timeline ul li i {
  padding: 0.7rem;
  font-size: 2rem;
  color: $mainTextColor;
  text-shadow: $titlesShadow;
  border-radius: 1rem;
  box-shadow: $mainShadow;
}
.container-timeline ul li p {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.container-timeline ul li .circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(to right, $primaryColor, $smilyLips);
  position: absolute;
  top: 45%;
  left: -1.5rem;
}
.container-timeline ul li .date {
  font-size: 1.65rem;
  position: absolute;
  top: -3.5rem;
  //   left: 2rem;
  width: 15rem;
  height: 3rem;
  background-image: linear-gradient(to right, $primaryColor, $smilyLips);
  border-radius: 2rem;
  color: white;
  text-align: center;
  padding: 0.4rem;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 1400px) {
  .container-timeline {
    flex-direction: column;
  }
  .timeline-work-experience-container,
  .timeline-education-container {
    width: 90%;
  }
}
