@import "./variables";
:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #936bf0);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: 0.125rem solid #00abf0;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}
h3 {
  text-shadow: none;
}
.main-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.book {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  perspective: 250rem;
  flex-direction: column !important;
}
.book-page {
  box-shadow: -0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
  position: relative !important;
  width: 100% !important;
  height: 100%;
  background: var(--pages-color);
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column !important;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: outset 1rem $primaryColor;
}
// .book-page {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: var(--pages-color);
//   padding: 1.5rem 2rem;
// }
.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-page img {
  max-width: 12rem;
  border-radius: 50%;
  border: 0.25rem solid var(--main-color);
  margin-bottom: 0.8rem;
}
.profile-page h1 {
  font-size: 2.7rem;
  line-height: 1;
  text-align: center;
}
.profile-page h3 {
  font-size: 1.5rem;
  color: $primaryColor;
  z-index: 0;
  text-align: center;
}
.profile-page .social-media {
  margin: 0.6rem 0 0.8rem;
  align-items: center;
  justify-content: center;
}
.profile-page .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: var(--border);
  border-radius: 50%;
  font-size: 1.3rem;
  color: $primaryColor;
  margin: 0 0.2rem;
  transition: 1s;
}
.profile-page .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}
.profile-page p {
  text-align: justify;
  font-size: 1.1rem;
}
.profile-page .btn-box {
  margin-top: 1.2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: $primaryColor;
  color: var(--white-color);
  border: 0.3rem outset var(--white-color);
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 1rem;
  transition: 0.5s;
}
.btn:hover {
  background: transparent;
  color: $primaryColor;
  border: inset $primaryColor;
}

.workeduc-box h3 {
  z-index: 0;
}
.workeduc-content,
.services-content {
  display: flex;
  flex-direction: column !important;
}
.workeduc-content h3,
.services-content h3,
.skills-content h3 {
  margin-left: -1rem;
  // margin-top: -0.3rem;
  color: $primaryColor;
}
.title {
  text-align: center;
  margin-bottom: 1rem;
}
.workeduc-content .year {
  color: var(--main-color);
}
.workeduc-content .year i {
  margin-right: 0.4rem;
}
.workeduc-box {
  border-left: var(--border);
  padding-bottom: 1rem;
}
.workeduc-box .workeduc-content {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
}
.workeduc-box .workeduc-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.65rem;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--main-color);
  border-radius: 50%;
}
.number-page {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.skills-box .skills-content {
  flex: 1 1 20rem !important;
}
.skills-content-title {
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.skills-content h3 {
  font-size: 1.3rem;
  line-height: 2;
  margin-bottom: 0.6rem;
}
.skills-content .content {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.8rem;
}
.skills-content .content span {
  display: inline-flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.skills-content .content span:hover {
  box-shadow: var(--box-shadow);
}
.skills-content .content span i {
  font-size: 3rem;
  color: var(--main-color);
}
.contact-box {
  text-align: center;
}
.contact-box .field {
  width: 100%;
  background: transparent;
  border: var(--border);
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}
.contact-box .field::placeholder {
  color: var(--text-color);
}
.contact-box textarea {
  resize: none;
  height: 15rem;
}
.contact-box .btn {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 9rem;
}

// Responsivness
@media (max-width: 630px) {
  .profile-page .btn-box {
    flex-direction: column !important;
  }
  .profile-page .social-media {
    margin-left: 4%;
  }
}
@media (max-width: 480px) {
  .book {
    width: 100%; // Adjust width for smaller screens
  }
  .book-page {
    width: 100%; // Use full width on smaller screens
    margin: 1rem;
    margin-left: 25%;
  }
  .profile-page .social-media {
    margin-left: 3%;
  }
}
