@import "./basicSettings";
@import "./variables";
@import "./mixins";

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 6rem;
  text-shadow: $sitemap-text-shadow;
  color: antiquewhite;
  letter-spacing: 0.5rem;
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sitemap div {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: $boxShadow;
  flex: 1 1 calc(33.333% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 1s ease;
}

.sitemap div:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.sitemap-item {
  margin: 1rem;
  width: 100%;
  background-color: rgb(246, 246, 223);
}
.sitemap-english,
.sitemap-german {
  background: $sectionBg;
  border-radius: 3rem;
  h2 {
    font-size: 3rem;
    text-shadow: $sitemap-h2-shadow;
  }
}
.title-sitemap {
  background-color: $primaryColor;
  box-shadow: $boxShadow !important;
  cursor: none !important;
  margin-bottom: 1rem;
}
.sitemap div a {
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 2rem;
}
.sitemap div a:hover {
  color: $primaryColor;
  font-weight: bolder;
}
.sitemap i {
  font-size: 3rem;
  color: #007bff;
}
.sitemap i:hover {
  color: $primaryColor;
}

// Responsivness
@media (max-width: 768px) {
  .sitemap div {
    flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .sitemap div {
    flex: 1 1 100%;
  }
}
